{% extends "base.html" %}

{% block content %}
<p>
	<!--<a href="{{ url_for('list_examples') }}">List examples</a> | <a href="{{ url_for('new_example') }}">New example</a>-->
</p>
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<ul class="flash">
			 {% for category, message in messages %}
				<li class="{{category}}">{{ message }}</li>
			 {% endfor %}
		</ul>
	{% endif %}
{% endwith %}

<h1>
<table>
{% for address, prs in programs.iteritems() %}
<tr>
	<td colspan=3>{{address}}</td>
</tr>
{% for pr in prs %}
<tr>
	<td>{{ pr['name'] }}</td>
	<td>{{ pr['type'] }}</td>
	<td>{{ pr['phone'] }}</td>
</tr>
{% endfor %}
{% endfor %}
</table>



<p>
{% include 'provider_notes.html' %}
</p>


{% endblock %}
