
 <h1 id="">{{ pname }}</h1>

<table>
{% for address, prs in programs.iteritems() %}
<tr>
	<td colspan=3>{{address}}</td>
</tr>
{% for pr in prs %}
<tr>
	<td>{{ pr['name'] }}</td>
	<td>{{ pr['type'] }}</td>
	<td>{{ pr['phone'] }}</td>
</tr>
{% endfor %}
{% endfor %}
</table>

{% for note in notes %}
<p>{{ note }}</p>
<p>{{ date }}</p>
{% endfor %}

<form method="post" action="{{ url_for('add_notes', agency=pname) }}">
	{{ form.hidden_tag() }}
        <p>{{ form.providerNote.label }}<p>
        <p>{{ form.providerNote(content=form.providerNote.data) }}</p>
    <p>
        <button type="submit">Save notes</button>
    <a href="{{ url_for('list_provs') }}">Cancel</a>
    </p>
</form>