
 <h1 id="">{{ pname }}</h1>

<table>
{% for address, prs in programs.iteritems() %}
<tr>
	<td colspan=3>{{address}}</td>
</tr>
{% for pr in prs %}
<tr>
	<td>{{ pr['name'] }}</td>
	<td>{{ pr['type'] }}</td>
	<td>{{ pr['phone'] }}</td>
</tr>
{% endfor %}
{% endfor %}
</table>


<form method="post" action="{{ url_for('add_notes', agency=pname) }}">
<p>{{pname}}</p>
{% for field in form %}
        <p>{{ field.label }}</p>
        <p>{{ field }}</p>
{% endfor %}
    <p>
        <button type="submit">Save notes</button>
    <a href="{{ url_for('list_provs') }}">Cancel</a>
    </p>
</form>