{% extends "base.html" %}

{% block content %}
<p>
</p>
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<ul class="flash">
			 {% for category, message in messages %}
				<li class="{{category}}">{{ message }}</li>
			 {% endfor %}
		</ul>
	{% endif %}
{% endwith %}
<ul>
    <h1 id="">All Examples</h1>
    {% for provider in providers %}
    <li>
        <a href="{{ url_for('add_notes', agency=provider) }}">{{ provider }}<br />
    </li>
    {% else %}
    <li>No providers yet</li>
    {% endfor %}
</ul>
{% endblock %}
